.bg-image {
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.fa-star,
.fa-star-half-stroke {
    color: gold;
}

.card-shadow {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width:768px) {
    .logo {
        grid-template-columns: repeat(4, 1fr);
    }
}